.card-img-top {
  max-width: 120px;
  max-height: 180px;
  width: auto;
  height: auto;
  margin-top: 10px;
  display: block;
  object-fit: contain;
}

.card {
  align-items: center;
  text-align: center;
}